body{
    margin: 0;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h1 {
    text-align: center;
    font-size: 50px;
}

.title{
    text-align: center;
    font-size: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.result-container{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.results{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.ball, .bonus{
    font-size: 60px;
    font-weight: bold;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    text-align: center;
    padding: 10px;
}

.ball{
    color: black;
    background-color: white;
}

.bonus{
    background-color: red;
    color: white;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.refresh-all{
    background-color: red;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
}

@media (max-device-width: 700px){
    h1{
        font-size: 30px;
    }

    .title{
        font-size: 20px;
    }

    .results{
        gap: 5px;
    }

    .ball, .bonus{
        width: 5px;
        height: 5px;
        font-size: 2px;
        padding: 2px;
    }
}

@media (max-device-width: 1000px){

    .ball, .bonus{
        width: 50px;
        height: 50px;
        font-size: 40px;
    }
}